<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <items type="beverage">
    <title>beverages</title>
    <item>
      <cost></cost>
      <subtitle>Hot or Iced</subtitle>
    </item>
    <item>
      <cost>4</cost>
      <name>Espresso</name>
    </item>
    <item>
      <cost>5</cost>
      <name>Macchiato</name>
    </item>
    <item>
      <cost>5.5</cost>
      <name>Latte</name>
    </item>
    <item>
      <cost>5.5</cost>
      <name>Cappuccino</name>
    </item>
    <item>
      <cost>4</cost>
      <name>Mocha</name>
    </item>
    <item>
      <cost>5.5</cost>
      <name>Americano</name>
    </item>
    <item>
      <cost>3</cost>
      <name>Steeped Tea</name>
    </item>
    <item>
      <cost></cost>
      <subtitle>Matcha / Earl Grey / Chai / Peppermint / Lemon</subtitle>
    </item>
  </items>
</menu>