@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Raleway:wght@400;700&display=swap');

:root {
  --raleway: 'Raleway', sans-serif;
  --quarrel: 'Lovers Quarrel', sans-serif;
  --main-color: #111111;
  --alt-color: #1F1F1F;
  --main-bg: #FFFFFF;
  --alt-bg: #EFEFEF;
  --alt2-bg: #CEAFAF;
  --title-bg: #1F1F1F;
  --title-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a, button {
  color: var(--main-text);
  font-family: var(--raleway);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

button {
  appearance: none;
  border: 0;
  outline: none;
  background: 
    linear-gradient(90deg, #1F1F1F, #1F1F1F) left bottom/0 2px no-repeat,
    linear-gradient(90deg, transparent, transparent) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, transparent, transparent) left bottom/100% no-repeat;
  transition: background-size 0.3s ease,
              background-color 0.5s ease;
}

button:hover {
  background-size: 100% 2px, 100% 2px, 100%;
  transition: background-size 0.3s ease;
}

main { 
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav button {
  margin: 2em 3em 2em 0;
  padding: 1.5em 2.5em;
  font-size: 1em;
}

button.home.active,
button.about.active {
  background: var(--alt-bg);
}

button.menu.active {
  background: var(--alt2-bg);
}

.active {
  transition: background-color 0.5s ease;
}

.photo {
  position: absolute;
}

.credit {
  opacity: 0;
  position: absolute;
  z-index: 9;
  right: 20px;
  bottom: 20px;
  font-size: 0.6em;
  padding: 10px;
  background-color: var(--alt-bg);
  transition: opacity 0.3s ease;
}

.photo:hover .credit { opacity: 1; }

section {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  height: 100vh;
}

.accent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
}

#home {
  background: var(--main-bg);
}

#home-accent {
  background: var(--alt-bg);
}

#home-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}

#home-photo {
  position: relative;
  z-index: 99;
  width: 80%;
  height: auto;
}

#photo1 {
  position: relative;
}

#photo1 img {
  width: 100%;
}

#title {
  position: absolute;
  top: 0;
  z-index: 9;
  background-color: var(--title-bg);
}

h1 {
  margin: 0;
  padding: 0.1em 0.5em;
  color: var(--title-color);
  font-family: var(--quarrel);
  font-size: 6em;
  font-weight: 400;
}

#home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 99;
}

#home-info {
  width: 80%;
  height: auto;
  padding: 4em;
}

h2 {
  padding: 0;
  color: var(--main-color);
  font-family: var(--raleway);
  font-size: 3em;
  font-weight: 700;
}

#home-info p {
  font-family: var(--raleway);
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
}

#home-info button {
  padding: 1em 0;
  font-size: 1em;
  background: 
    linear-gradient(90deg, #1F1F1F, #1F1F1F) left bottom/0 2px no-repeat,
    linear-gradient(90deg, transparent, transparent) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, transparent, transparent) left bottom/100% no-repeat;
  transition: background-size 0.3s ease,
              background-color 0.5s ease;
}

#home-info button:hover {
  background-size: 100% 2px, 100% 2px, 100%;
  transition: background-size 0.3s ease;
}

#menu {
  background: var(--alt-bg);
}

#menu-accent {
  background: var(--main-bg);
}

#menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

#menu-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  height: 60%;
  z-index: 99;
}

.item {
  margin: 0 20px 20px 0;
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1px;
}

h3 {
  margin: 0 0 0.5em 0;
  font-family: var(--quarrel);
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.item div {
  display: flex;
}

.item p {
  margin: 0 0 1em 0;
}

.item .subtitle {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
}

.item .cost {
  width: 40px;
}

#menu-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  height: 100%;
}

#menu-photo {
  position: relative;
  width: 100%;
  height: 70%;
  z-index: 99;
}

#photo2 {
  right: 0;
  height: 100%;
  filter: grayscale(100);
}

#photo2 img {
  height: 100%;
}

#photo3 {
  bottom: 10%;
  width: 60%;
}

#photo3 img {
  width: 100%;
}

#about {
  background-color: var(--main-bg);
}

#about-accent {
  background-color: var(--alt2-bg);
}

#about-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  height: 100%;
}

#about-photo {
  position: relative;
  width: 75%;
  height: 80%;
  z-index: 99;
}

#photo4 {
  right: 0;
  height: 100%;
  filter: grayscale(100);
}

#photo4 img {
  height: 100%;
}

#photo5 {
  bottom: 30%;
  width: 50%;
}

#photo5 img {
  width: 100%;
}


#about-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
}

#about-info {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  z-index: 99;
}

#about-store, #about-desc {
  font-family: var(--raleway);
}

#about-store {
  letter-spacing: 1px;
}

#about-store p {
  font-size: 1.1em;
}

#about-location {
  font-size: 0.9em;
}

#about-desc {
  padding-right: 4%;
}

.date {
  font-weight: 700;
  font-size: 0.9em;
}

h4 {
  font-family: var(--raleway);
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 50%;
  height: 100%;
  font-family: var(--raleway);
}

footer b {
  margin: 0 1.5em;
  font-size: 1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1700px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1920) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1921px) {
  body {
    font-size: 16px;
  }
}

@media screen and (orientation: landscape) {
  .item, #about-store, #about-desc {
    flex: 1;
  }
}

@media screen and (orientation: portrait) {
  body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  nav {
    justify-content: center;
    width: 100vw;
    margin: 2em 0;
    padding: 0;
  }

  nav button {
    margin: 0;
  }

  section {
    width: 100vw;
    height: auto;
  }

  #home-header {
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 50vh;
  }

  #home-photo {
    width: 100%;
  }

  #home-content {
    width: 100vw;
    height: auto;
    background: var(--alt-bg);
  }

  .cta {
    display: none;
  }

  #menu-content {
    width: 100vw;
    height: auto;
  }

  #menu-info {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  .item {
    width: 80%;
  }

  #menu-header {
    width: 100vw;
    height: 50vh;
  }

  #menu-photo {
    height: 100%;
  }

  #menu-accent {
    display: none;
  }

  #about-header {
    justify-content: flex-start;
    width: 100vw;
    height: 80vh;
  }

  #about-photo {
    width: 100vw;
    height: 60vh;
  }

  #photo5 {
    bottom: 10%;
  }

  #about-content {
    width: 100vw;
    height: 100vh;
  }

  #about-info {
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    background: var(--alt2-bg);
  }

  #about-store {
    width: 74%;
  }

  #about-desc {
    width: 70%;
  }

  footer {
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 80%;
  }

  @media screen and (max-width: 499px) {
    footer {
      font-size: 0.8em;
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1023px) {
    body {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1024px) {
    body {
      font-size: 20px;
    }
  }
}

